# pandas.DataFrame.stack

## DataFrame.stack(level=-1, dropna=_NoDefault.no_default, sort=_NoDefault.no_default)

### Stack the prescribed level(s) from columns to index.

### Return a reshaped DataFrame or Series having a multi-level index with one or more new inner-most levels compared to the current DataFrame. The new inner-most levels are created by pivoting the columns of the current dataframe:

if the columns have a single level, the output is a Series;

if the columns have multiple levels, the new index level(s) is (are) taken from the prescribed level(s) and the output is a DataFrame.

## Parameters:

level: int, str, list, default -1

Level(s) to stack from the column axis onto the index axis, defined as one index or label, or a list of indices or labels.

dropna: bool, default True

Whether to drop rows in the resulting Frame/Series with missing values. Stacking a column level onto the index axis can create combinations of index and column values that are missing from the original dataframe. See Examples section.

sort: bool, default True

Whether to sort the levels of the resulting MultiIndex.

## Returns:

### DataFrame or Series

#### Stacked dataframe or series.

In [2]:
import pandas as pd

In [4]:
# Single level columns

df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],
                                    index=['cat', 'dog'],
                                    columns=['weight', 'height'])
df_single_level_cols

     weight  height
cat       0       1
dog       2       3

### Stacking a dataframe with a single level column axis returns a Series:

In [6]:
df_single_level_cols.stack()

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [8]:
# Multi level columns: simple case

multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('weight', 'pounds')])
df_multi_level_cols1 = pd.DataFrame([[1, 2], [2, 4]],
                                    index=['cat', 'dog'],
                                    columns=multicol1)
df_multi_level_cols1

    weight
        kg pounds
cat      1      2
dog      2      4

## Stacking a dataframe with a multi-level column axis:

In [9]:
df_multi_level_cols1.stack()

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

In [10]:
# Missing values

multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('height', 'm')])
df_multi_level_cols2 = pd.DataFrame([[1.0, 2.0], [3.0, 4.0]],
                                    index=['cat', 'dog'],
                                    columns=multicol2)
df_multi_level_cols2

    weight height
        kg      m
cat    1.0    2.0
dog    3.0    4.0

### It is common to have missing values when stacking a dataframe with multi-level columns, as the stacked dataframe typically has more values than the original dataframe. Missing values are filled with NaNs:

In [11]:
df_multi_level_cols2.stack()

        height  weight
cat kg     NaN     1.0
    m      2.0     NaN
dog kg     NaN     3.0
    m      4.0     NaN

In [13]:
# Prescribing the level(s) to be stacked

df_multi_level_cols2.stack(0)

             kg    m
cat height  NaN  2.0
    weight  1.0  NaN
dog height  NaN  4.0
    weight  3.0  NaN

In [14]:
df_multi_level_cols2.stack([0, 1])

cat  height  m     2.0
     weight  kg    1.0
dog  height  m     4.0
     weight  kg    3.0
dtype: float64

# pandas.DataFrame.unstack

## DataFrame.unstack(level=-1, fill_value=None, sort=True)

Pivot a level of the (necessarily hierarchical) index labels.

Returns a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels.

If the index is not a MultiIndex, the output will be a Series (the analogue of stack when the columns are not a MultiIndex).

## Parameters:

level: int, str, or list of these, default -1 (last level)

Level(s) of index to unstack, can pass level name.

fill_value: int, str or dict

Replace NaN with this value if the unstack produces missing values.

sort: bool, default True
Sort the level(s) in the resulting MultiIndex columns.

## Returns:

Series or DataFrame

In [16]:
import numpy as np

In [17]:
index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),
                                   ('two', 'a'), ('two', 'b')])
s = pd.Series(np.arange(1.0, 5.0), index=index)
s

one  a    1.0
     b    2.0
two  a    3.0
     b    4.0
dtype: float64

In [18]:
s.unstack(level=-1)

       a    b
one  1.0  2.0
two  3.0  4.0

In [19]:
s.unstack(level=0)

   one  two
a  1.0  3.0
b  2.0  4.0

In [21]:
df = s.unstack(level=0)
df.unstack()

one  a    1.0
     b    2.0
two  a    3.0
     b    4.0
dtype: float64